.footer{
    width: 100vw;
    height: 4rem;
    background:rgb(28, 185, 151);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: small;
}